<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/Home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productsParent" routerLinkActive="active">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/obs" routerLinkActive="active">Observables</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/userTemplate" routerLinkActive="active">User Template</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/userReactive" routerLinkActive="active">User Reactive</a>
        </li>

        <li class="nav-item" [hidden]="userLog">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" >Login</a>
        </li>

        <li class="nav-item" [hidden]="!userLog">
          <a class="nav-link" routerLink="/logout" routerLinkActive="active" >LogOut</a>
        </li>

        <li class="nav-item" [hidden]="userLog">
          <a class="nav-link" routerLink="/userOrder/userCart" routerLinkActive="active" >User Cart</a>
        </li>

        <li class="nav-item" [hidden]="!userLog">
          <a class="nav-link" routerLink="/userOrder/trackOrders" routerLinkActive="active" >Track Order</a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- <img src="assets/img.jpg" width="25%" height="25%"> -->
