<!-- <button (click)="addUser()" class="btn btn-primary">Add</button> -->


<form class="column g-3 mt-3" (ngSubmit)="addUser()" #signUpForm="ngForm">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" name="firstName" id="validationCustom01" value=""
     required minlength="3" [(ngModel)]="user.firstName" #firstNameInput="ngModel"
     [ngClass]="{'is-invalid':(firstNameInput.touched || firstNameInput.dirty)
      && firstNameInput.invalid }">

      <span class="invalid-feedback">

        <span *ngIf="firstNameInput.errors?.['required']">please enter your first name</span>
        <span *ngIf="firstNameInput.errors?.['minlength']">name must be longer than 3 characters</span>

      </span>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" name="lastName" id="validationCustom02" value=""
     required minlength="3" [(ngModel)]="user.lastName" #lastNameInput="ngModel"
     [ngClass]="{'is-invalid':(lastNameInput.touched || lastNameInput.dirty)
      && lastNameInput.invalid }">

      <span class="invalid-feedback">

        <span *ngIf="lastNameInput.errors?.['required']">please enter your last name</span>
        <span *ngIf="lastNameInput.errors?.['minlength']">name must be longer than 3 characters</span>

      </span>




  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="validationCustom02" value=""
     required pattern="[a-zA-Z]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" [(ngModel)]="user.email" #emailInput="ngModel"
     [ngClass]="{'is-invalid':(emailInput.touched || emailInput.dirty)
      && emailInput.invalid }">

      <span class="invalid-feedback">

        <span *ngIf="emailInput.errors?.['required']">please enter your Email</span>
        <span *ngIf="emailInput.errors?.['pattern']">Email must match the required formate</span>

      </span>

  </div>

  <!-- "/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" -->

  <div class="col-12 mt-3">
    <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Submit form</button>
  </div>
</form>


<!-- <h2>{{user | json}}</h2> -->

<!-- <h3>{{firstNameInput.className | json}}</h3> -->
<!-- <h2>{{firstNameInput.errors | json}}</h2> -->

<!-- <h2>{{signUpForm.value | json}}</h2> -->

