
<!-- <div class="container-fluid">

  <app-header></app-header>

  <div class="container">
    <div class="row"> -->

      <!-- <app-products class="col-sm-12"></app-products> -->

      <!-- <app-side class="col-sm-4"></app-side> -->


      <!-- day 4 -->

      <!-- <app-parent-product></app-parent-product> -->

      <!-- <router-outlet></router-outlet> -->

    <!-- </div>
  </div>



  <app-footer></app-footer>

</div> -->



<div class="container-fluid">

  <app-header></app-header>

  <div class="container">
    <div class="row">

<router-outlet></router-outlet>

</div>
</div>
<app-footer></app-footer>

</div>

